In [50]:
# Importações
import pandas as pd

Cerregamento

In [51]:
paebes_integrado_23 = pd.read_csv("../DadosBrutos/Paebes_integrado_2023.csv",sep = ";")
paebes_regular_23 = pd.read_csv("../DadosBrutos/Paebes_regular_2023.csv",sep = ";")
paebes_24 = pd.read_csv("../DadosBrutos/paebesGeral_2024.csv",sep = ";")

Tratamento

In [52]:
# Lista de dataframes e colunas com porcentagem
bases = [paebes_integrado_23, paebes_regular_23, paebes_24]
colunas_percentuais = ['Abaixo do básico', 'Básico', 'Proficiente', 'Avançado']

# Corrigir as colunas de porcentagem para valores numéricos
for base in bases:
    for col in colunas_percentuais:
        base[col] = base[col].str.replace('%', '', regex=False).str.replace(',', '.', regex=False)
        base[col] = pd.to_numeric(base[col], errors='coerce')

In [53]:
paebes_integrado_23.columns

Index(['Rede', 'Etapa', 'Componente Curricular', 'Código da Regional',
       'Município', 'Previstos', 'Avaliados', 'Avaliados (%)',
       'Proficiência Média', 'Abaixo do básico', 'Básico', 'Proficiente',
       'Avançado', 'H 01 (%)', 'H 02 (%)', 'H 03 (%)', 'H 04 (%)', 'H 05 (%)',
       'H 06 (%)', 'H 07 (%)', 'H 08 (%)', 'H 09 (%)', 'H 10 (%)', 'H 11 (%)',
       'H 12 (%)', 'H 13 (%)', 'H 14 (%)', 'H 15 (%)', 'H 16 (%)', 'H 17 (%)',
       'H 18 (%)', 'H 19 (%)', 'H 20 (%)', 'H 21 (%)', 'H 22 (%)', 'H 23 (%)',
       'H 24 (%)', 'H 25 (%)', 'H 26 (%)'],
      dtype='object')

In [54]:
colunas24 = ['Regional', 'Município', 'Previstos', 'Avaliados', 'Avaliados (%)',
       'Proficiência Média', 'Abaixo do básico', 'Básico', 'Proficiente',
       'Avançado', ]

colunas23 = ['Código da Regional',
       'Município', 'Previstos', 'Avaliados', 'Avaliados (%)',
       'Proficiência Média', 'Abaixo do básico', 'Básico', 'Proficiente',
       'Avançado']

In [55]:
paebes_24.columns

Index(['Avaliação', 'Rede', 'Ano Escolar', 'Componente Curricular', 'Estado',
       'Regional', 'Município', 'Previstos', 'Avaliados', 'Avaliados (%)',
       'Proficiência Média', 'Abaixo do básico', 'Básico', 'Proficiente',
       'Avançado', 'H 01 (%)', 'H 02 (%)', 'H 03 (%)', 'H 04 (%)', 'H 05 (%)',
       'H 06 (%)', 'H 07 (%)', 'H 08 (%)', 'H 09 (%)', 'H 10 (%)', 'H 11 (%)',
       'H 12 (%)', 'H 13 (%)', 'H 14 (%)', 'H 15 (%)', 'H 16 (%)', 'H 17 (%)',
       'H 18 (%)', 'H 19 (%)', 'H 20 (%)', 'H 21 (%)', 'H 22 (%)', 'H 23 (%)',
       'H 24 (%)', 'H 25 (%)', 'H 26 (%)'],
      dtype='object')

In [56]:
paebes_integrado_23_enxugado = paebes_integrado_23[colunas23]
paebes_regular_23_enxugado = paebes_regular_23[colunas23]

In [57]:
paebes_24_enxugado = paebes_24[colunas24]
paebes_24_enxugado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Regional            78 non-null     object
 1   Município           78 non-null     object
 2   Previstos           78 non-null     int64
 3   Avaliados           78 non-null     int64
 4   Avaliados (%)       78 non-null     int64
 5   Proficiência Média  78 non-null     int64
 6   Abaixo do básico    78 non-null     int64
 7   Básico              78 non-null     int64
 8   Proficiente         78 non-null     int64
 9   Avançado            78 non-null     int64
dtypes: int64(8), object(2)
memory usage: 6.2+ KB

In [58]:
paebes_integrado_23_enxugado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Código da Regional  44 non-null     int64
 1   Município           44 non-null     object
 2   Previstos           44 non-null     int64
 3   Avaliados           44 non-null     int64
 4   Avaliados (%)       44 non-null     int64
 5   Proficiência Média  44 non-null     int64
 6   Abaixo do básico    44 non-null     int64
 7   Básico              44 non-null     int64
 8   Proficiente         44 non-null     int64
 9   Avançado            44 non-null     int64
dtypes: int64(9), object(1)
memory usage: 3.6+ KB

In [59]:
paebes_regular_23_enxugado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Código da Regional  78 non-null     int64
 1   Município           78 non-null     object
 2   Previstos           78 non-null     int64
 3   Avaliados           78 non-null     int64
 4   Avaliados (%)       78 non-null     int64
 5   Proficiência Média  78 non-null     int64
 6   Abaixo do básico    78 non-null     int64
 7   Básico              78 non-null     int64
 8   Proficiente         78 non-null     int64
 9   Avançado            78 non-null     int64
dtypes: int64(9), object(1)
memory usage: 6.2+ KB

In [60]:
paebes_24_enxugado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Regional            78 non-null     object
 1   Município           78 non-null     object
 2   Previstos           78 non-null     int64
 3   Avaliados           78 non-null     int64
 4   Avaliados (%)       78 non-null     int64
 5   Proficiência Média  78 non-null     int64
 6   Abaixo do básico    78 non-null     int64
 7   Básico              78 non-null     int64
 8   Proficiente         78 non-null     int64
 9   Avançado            78 non-null     int64
dtypes: int64(8), object(2)
memory usage: 6.2+ KB

In [61]:
def combinar_paebes_regular_integrado(df_regular, df_integrado):
    # Lista de colunas de chave para agrupamento
    chaves = ['Código da Regional', 'Município']

    # Juntar os dois dataframes
    df_combinado = pd.concat([df_regular, df_integrado], ignore_index=True)

    # Converter colunas numéricas corretamente
    col_numericas = ['Previstos', 'Avaliados']
    col_percentuais = ['Abaixo do básico', 'Básico', 'Proficiente', 'Avançado', 'Proficiência Média']

    for col in col_numericas + col_percentuais:
        df_combinado[col] = pd.to_numeric(df_combinado[col], errors='coerce')

    # Agrupamento por município e regional
    agrupado = df_combinado.groupby(chaves).apply(
        lambda grupo: pd.Series({
            'Previstos': grupo['Previstos'].sum(),
            'Avaliados': grupo['Avaliados'].sum(),
            'Avaliados (%)': round(100 * grupo['Avaliados'].sum() / grupo['Previstos'].sum(), 1),
            'Proficiência Média': round((grupo['Proficiência Média'] * grupo['Avaliados']).sum() / grupo['Avaliados'].sum(), 1),
            'Abaixo do básico': round((grupo['Abaixo do básico'] * grupo['Avaliados']).sum() / grupo['Avaliados'].sum(), 1),
            'Básico': round((grupo['Básico'] * grupo['Avaliados']).sum() / grupo['Avaliados'].sum(), 1),
            'Proficiente': round((grupo['Proficiente'] * grupo['Avaliados']).sum() / grupo['Avaliados'].sum(), 1),
            'Avançado': round((grupo['Avançado'] * grupo['Avaliados']).sum() / grupo['Avaliados'].sum(), 1),
        })
    ).reset_index()

    return agrupado

In [62]:
paebes_23_combinado = combinar_paebes_regular_integrado(
    paebes_regular_23_enxugado,
    paebes_integrado_23_enxugado
)

C:\Users\carlo\AppData\Local\Temp\ipykernel_19640\1037160167.py:16: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  agrupado = df_combinado.groupby(chaves).apply(

In [63]:
paebes_23_combinado.loc[paebes_23_combinado['Município'] == 'CONCEICAO DO CASTELO']

,Código da Regional,Município,Previstos,Avaliados,Avaliados (%),Proficiência Média,Abaixo do básico,Básico,Proficiente,Avançado
73,37,CONCEICAO DO CASTELO,81.0,75.0,92.6,284.0,21.0,39.0,37.0,3.0

In [64]:
from unidecode import unidecode

def padronizar_colunas(df):
    df.columns = (unidecode(col).strip().lower().replace(' ', '_').replace('%', 'pct') for col in df.columns)
    return df

paebes_23_combinado = padronizar_colunas(paebes_23_combinado)
paebes_24_enxugado = padronizar_colunas(paebes_24_enxugado)

In [65]:
# Identificar colunas que não são chaves
colunas_chave = ['municipio']
colunas_23 = [col for col in paebes_23_combinado.columns if col not in colunas_chave + ['codigo_da_regional']]
colunas_24 = [col for col in paebes_24_enxugado.columns if col not in colunas_chave + ['regional']]

# Renomear colunas com sufixos
paebes_23_combinado = paebes_23_combinado.rename(columns={col: col + '_23' for col in colunas_23})
paebes_24_enxugado = paebes_24_enxugado.rename(columns={col: col + '_24' for col in colunas_24})

In [66]:
paebes_lp_23e24 = pd.merge(
    paebes_23_combinado,
    paebes_24_enxugado,
    how='outer',
    on='municipio'
)

In [67]:
paebes_lp_23e24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   codigo_da_regional     78 non-null     int64
 1   municipio              78 non-null     object
 2   previstos_23           78 non-null     float64
 3   avaliados_23           78 non-null     float64
 4   avaliados_(pct)_23     78 non-null     float64
 5   proficiencia_media_23  78 non-null     float64
 6   abaixo_do_basico_23    78 non-null     float64
 7   basico_23              78 non-null     float64
 8   proficiente_23         78 non-null     float64
 9   avancado_23            78 non-null     float64
 10  regional               78 non-null     object
 11  previstos_24           78 non-null     int64
 12  avaliados_24           78 non-null     int64
 13  avaliados_(pct)_24     78 non-null     int64
 14  proficiencia_media_24  78 non-null     int64
 15  abaixo_do_basico_24    78 non-null     int64
 16  basico_24              78 non-null     int64
 17  proficiente_24         78 non-null     int64
 18  avancado_24            78 non-null     int64
dtypes: float64(8), int64(9), object(2)
memory usage: 11.7+ KB

In [72]:
paebes_lp_23e24.sample(5)

,codigo_da_regional,regional,municipio,previstos_23,avaliados_23,avaliados_(pct)_23,proficiencia_media_23,abaixo_do_basico_23,basico_23,proficiente_23,avancado_23,previstos_24,avaliados_24,avaliados_(pct)_24,proficiencia_media_24,abaixo_do_basico_24,basico_24,proficiente_24,avancado_24
4,28,SRE VILA VELHA,ALFREDO CHAVES,73.0,63.0,86.3,288.4,13.0,49.1,33.6,5.0,60,53,88,290,21,34,42,4
22,37,SRE AFONSO CLAUDIO,DOMINGOS MARTINS,260.0,247.0,95.0,299.0,14.0,31.0,43.0,11.0,262,254,97,297,14,34,42,10
36,34,SRE COLATINA,ITARANA,61.0,58.0,95.1,265.0,40.0,26.0,31.0,3.0,64,64,100,282,22,47,22,9
30,30,SRE LINHARES,IBIRACU,62.0,54.0,87.1,277.0,28.0,43.0,24.0,6.0,84,77,92,279,23,42,32,3
42,30,SRE LINHARES,LINHARES,1081.0,945.0,87.4,266.5,34.7,37.6,25.2,2.5,1087,998,92,275,27,40,30,4

In [69]:
# Garante que as colunas existem com os nomes já padronizados
colunas = list(paebes_lp_23e24.columns)

# Remove 'regional' da posição atual
colunas.remove('regional')

# Insere 'regional' logo após 'codigo_da_regional'
indice_codigo = colunas.index('codigo_da_regional')
colunas.insert(indice_codigo + 1, 'regional')

# Reordena o dataframe
paebes_lp_23e24 = paebes_lp_23e24[colunas]

In [71]:
paebes_lp_23e24.to_csv("../data/paebes_LP_23e24.csv", index=False)