In [124]:
# Importações
import pandas as pd

Cerregamento

In [125]:
paebes_integrado_23 = pd.read_csv("../DadosBrutos/Paebes_integrado_2023.csv",sep = ";")
paebes_regular_23 = pd.read_csv("../DadosBrutos/Paebes_regular_2023.csv",sep = ";")
paebes_24 = pd.read_csv("../DadosBrutos/paebesGeral_2024.csv",sep = ";")

Tratamento

In [126]:
# Lista de dataframes e colunas com porcentagem
bases = [paebes_integrado_23, paebes_regular_23, paebes_24]
colunas_percentuais = ['Abaixo do básico', 'Básico', 'Proficiente', 'Avançado']

# Corrigir as colunas de porcentagem para valores numéricos
for base in bases:
    for col in colunas_percentuais:
        base[col] = base[col].str.replace('%', '', regex=False).str.replace(',', '.', regex=False)
        base[col] = pd.to_numeric(base[col], errors='coerce')

In [127]:
paebes_integrado_23.columns

Index(['Rede', 'Etapa', 'Componente Curricular', 'Código da Regional',
       'Município', 'Previstos', 'Avaliados', 'Avaliados (%)',
       'Proficiência Média', 'Abaixo do básico', 'Básico', 'Proficiente',
       'Avançado', 'H 01 (%)', 'H 02 (%)', 'H 03 (%)', 'H 04 (%)', 'H 05 (%)',
       'H 06 (%)', 'H 07 (%)', 'H 08 (%)', 'H 09 (%)', 'H 10 (%)', 'H 11 (%)',
       'H 12 (%)', 'H 13 (%)', 'H 14 (%)', 'H 15 (%)', 'H 16 (%)', 'H 17 (%)',
       'H 18 (%)', 'H 19 (%)', 'H 20 (%)', 'H 21 (%)', 'H 22 (%)', 'H 23 (%)',
       'H 24 (%)', 'H 25 (%)', 'H 26 (%)'],
      dtype='object')

In [128]:
colunas24 = ['Regional', 'Município', 'Previstos', 'Avaliados', 'Avaliados (%)',
       'Proficiência Média', 'Abaixo do básico', 'Básico', 'Proficiente',
       'Avançado', ]

colunas23 = ['Código da Regional',
       'Município', 'Previstos', 'Avaliados', 'Avaliados (%)',
       'Proficiência Média', 'Abaixo do básico', 'Básico', 'Proficiente',
       'Avançado']

In [129]:
paebes_24.columns

Index(['Avaliação', 'Rede', 'Ano Escolar', 'Componente Curricular', 'Estado',
       'Regional', 'Município', 'Previstos', 'Avaliados', 'Avaliados (%)',
       'Proficiência Média', 'Abaixo do básico', 'Básico', 'Proficiente',
       'Avançado', 'H 01 (%)', 'H 02 (%)', 'H 03 (%)', 'H 04 (%)', 'H 05 (%)',
       'H 06 (%)', 'H 07 (%)', 'H 08 (%)', 'H 09 (%)', 'H 10 (%)', 'H 11 (%)',
       'H 12 (%)', 'H 13 (%)', 'H 14 (%)', 'H 15 (%)', 'H 16 (%)', 'H 17 (%)',
       'H 18 (%)', 'H 19 (%)', 'H 20 (%)', 'H 21 (%)', 'H 22 (%)', 'H 23 (%)',
       'H 24 (%)', 'H 25 (%)', 'H 26 (%)'],
      dtype='object')

In [130]:
paebes_integrado_23_enxugado = paebes_integrado_23[colunas23]
paebes_regular_23_enxugado = paebes_regular_23[colunas23]

In [131]:
paebes_24_enxugado = paebes_24[colunas24]
paebes_24_enxugado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Regional            78 non-null     object
 1   Município           78 non-null     object
 2   Previstos           78 non-null     int64
 3   Avaliados           78 non-null     int64
 4   Avaliados (%)       78 non-null     int64
 5   Proficiência Média  78 non-null     int64
 6   Abaixo do básico    78 non-null     int64
 7   Básico              78 non-null     int64
 8   Proficiente         78 non-null     int64
 9   Avançado            78 non-null     int64
dtypes: int64(8), object(2)
memory usage: 6.2+ KB

In [132]:
paebes_integrado_23_enxugado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44 entries, 0 to 43
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Código da Regional  44 non-null     int64
 1   Município           44 non-null     object
 2   Previstos           44 non-null     int64
 3   Avaliados           44 non-null     int64
 4   Avaliados (%)       44 non-null     int64
 5   Proficiência Média  44 non-null     int64
 6   Abaixo do básico    44 non-null     int64
 7   Básico              44 non-null     int64
 8   Proficiente         44 non-null     int64
 9   Avançado            44 non-null     int64
dtypes: int64(9), object(1)
memory usage: 3.6+ KB

In [133]:
paebes_regular_23_enxugado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Código da Regional  78 non-null     int64
 1   Município           78 non-null     object
 2   Previstos           78 non-null     int64
 3   Avaliados           78 non-null     int64
 4   Avaliados (%)       78 non-null     int64
 5   Proficiência Média  78 non-null     int64
 6   Abaixo do básico    78 non-null     int64
 7   Básico              78 non-null     int64
 8   Proficiente         78 non-null     int64
 9   Avançado            78 non-null     int64
dtypes: int64(9), object(1)
memory usage: 6.2+ KB

In [134]:
paebes_24_enxugado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 10 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Regional            78 non-null     object
 1   Município           78 non-null     object
 2   Previstos           78 non-null     int64
 3   Avaliados           78 non-null     int64
 4   Avaliados (%)       78 non-null     int64
 5   Proficiência Média  78 non-null     int64
 6   Abaixo do básico    78 non-null     int64
 7   Básico              78 non-null     int64
 8   Proficiente         78 non-null     int64
 9   Avançado            78 non-null     int64
dtypes: int64(8), object(2)
memory usage: 6.2+ KB

In [135]:
def combinar_paebes_regular_integrado(df_regular, df_integrado):
    # Lista de colunas de chave para agrupamento
    chaves = ['Código da Regional', 'Município']

    # Juntar os dois dataframes
    df_combinado = pd.concat([df_regular, df_integrado], ignore_index=True)

    # Converter colunas numéricas corretamente
    col_numericas = ['Previstos', 'Avaliados']
    col_percentuais = ['Abaixo do básico', 'Básico', 'Proficiente', 'Avançado', 'Proficiência Média']

    for col in col_numericas + col_percentuais:
        df_combinado[col] = pd.to_numeric(df_combinado[col], errors='coerce')

    # Agrupamento por município e regional
    agrupado = df_combinado.groupby(chaves).apply(
        lambda grupo: pd.Series({
            'Previstos': grupo['Previstos'].sum(),
            'Avaliados': grupo['Avaliados'].sum(),
            'Avaliados (%)': round(100 * grupo['Avaliados'].sum() / grupo['Previstos'].sum(), 1),
            'Proficiência Média': round((grupo['Proficiência Média'] * grupo['Avaliados']).sum() / grupo['Avaliados'].sum(), 1),
            'Abaixo do básico': round((grupo['Abaixo do básico'] * grupo['Avaliados']).sum() / grupo['Avaliados'].sum(), 1),
            'Básico': round((grupo['Básico'] * grupo['Avaliados']).sum() / grupo['Avaliados'].sum(), 1),
            'Proficiente': round((grupo['Proficiente'] * grupo['Avaliados']).sum() / grupo['Avaliados'].sum(), 1),
            'Avançado': round((grupo['Avançado'] * grupo['Avaliados']).sum() / grupo['Avaliados'].sum(), 1),
        })
    ).reset_index()

    return agrupado

In [136]:
paebes_23_combinado = combinar_paebes_regular_integrado(
    paebes_regular_23_enxugado,
    paebes_integrado_23_enxugado
)

C:\Users\carlo\AppData\Local\Temp\ipykernel_19640\1037160167.py:16: FutureWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  agrupado = df_combinado.groupby(chaves).apply(

In [137]:
paebes_23_combinado.loc[paebes_23_combinado['Município'] == 'CONCEICAO DO CASTELO']

,Código da Regional,Município,Previstos,Avaliados,Avaliados (%),Proficiência Média,Abaixo do básico,Básico,Proficiente,Avançado
73,37,CONCEICAO DO CASTELO,81.0,75.0,92.6,284.0,21.0,39.0,37.0,3.0

In [138]:
from unidecode import unidecode

def padronizar_colunas(df):
    df.columns = (unidecode(col).strip().lower().replace(' ', '_').replace('%', 'pct') for col in df.columns)
    return df

paebes_23_combinado = padronizar_colunas(paebes_23_combinado)
paebes_24_enxugado = padronizar_colunas(paebes_24_enxugado)

In [139]:
# Identificar colunas que não são chaves
colunas_chave = ['municipio']
colunas_23 = [col for col in paebes_23_combinado.columns if col not in colunas_chave + ['codigo_da_regional']]
colunas_24 = [col for col in paebes_24_enxugado.columns if col not in colunas_chave + ['regional']]

# Renomear colunas com sufixos
paebes_23_combinado = paebes_23_combinado.rename(columns={col: col + '_23' for col in colunas_23})
paebes_24_enxugado = paebes_24_enxugado.rename(columns={col: col + '_24' for col in colunas_24})

In [140]:
paebes_lp_23e24 = pd.merge(
    paebes_23_combinado,
    paebes_24_enxugado,
    how='outer',
    on='municipio'
)

In [141]:
paebes_lp_23e24.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 19 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   codigo_da_regional     78 non-null     int64
 1   municipio              78 non-null     object
 2   previstos_23           78 non-null     float64
 3   avaliados_23           78 non-null     float64
 4   avaliados_(pct)_23     78 non-null     float64
 5   proficiencia_media_23  78 non-null     float64
 6   abaixo_do_basico_23    78 non-null     float64
 7   basico_23              78 non-null     float64
 8   proficiente_23         78 non-null     float64
 9   avancado_23            78 non-null     float64
 10  regional               78 non-null     object
 11  previstos_24           78 non-null     int64
 12  avaliados_24           78 non-null     int64
 13  avaliados_(pct)_24     78 non-null     int64
 14  proficiencia_media_24  78 non-null     int64
 15  abaixo_do_basico_24    78 non-null     int64
 16  basico_24              78 non-null     int64
 17  proficiente_24         78 non-null     int64
 18  avancado_24            78 non-null     int64
dtypes: float64(8), int64(9), object(2)
memory usage: 11.7+ KB

In [142]:
paebes_lp_23e24.sample(5)

,codigo_da_regional,municipio,previstos_23,avaliados_23,avaliados_(pct)_23,proficiencia_media_23,abaixo_do_basico_23,basico_23,proficiente_23,avancado_23,regional,previstos_24,avaliados_24,avaliados_(pct)_24,proficiencia_media_24,abaixo_do_basico_24,basico_24,proficiente_24,avancado_24
18,34,COLATINA,763.0,697.0,91.3,267.3,35.1,34.2,26.8,3.0,SRE COLATINA,684,654,96,290,17,37,40,7
15,35,CACHOEIRO DE ITAPEMIRIM,1226.0,1125.0,91.8,279.7,22.5,43.5,30.5,3.5,SRE CACHOEIRO DE ITAPEMIRIM,1230,1176,96,283,22,37,37,5
35,35,ITAPEMIRIM,154.0,141.0,91.6,266.5,33.0,42.9,23.2,0.9,SRE CACHOEIRO DE ITAPEMIRIM,226,220,97,293,14,43,35,7
17,35,CASTELO,269.0,254.0,94.4,262.2,37.9,33.3,25.5,3.2,SRE CACHOEIRO DE ITAPEMIRIM,221,215,97,295,13,40,39,8
45,29,MARECHAL FLORIANO,148.0,134.0,90.5,308.2,7.8,32.8,49.3,10.2,SRE CARIACICA,183,178,97,306,10,31,49,10

In [143]:
# Garante que as colunas existem com os nomes já padronizados
colunas = list(paebes_lp_23e24.columns)

# Remove 'regional' da posição atual
colunas.remove('regional')

# Insere 'regional' logo após 'codigo_da_regional'
indice_codigo = colunas.index('codigo_da_regional')
colunas.insert(indice_codigo + 1, 'regional')

# Reordena o dataframe
paebes_lp_23e24 = paebes_lp_23e24[colunas]

In [144]:
paebes_lp_23e24.to_csv("../data/paebes_LP_23e24.csv", index=False)

In [145]:
selecao_regional = 'SRE CACHOEIRO DE ITAPEMIRIM'

In [146]:
import geopandas as gpd
import folium
from streamlit_folium import st_folium
import matplotlib.colors as mcolors
from unidecode import unidecode


# Ler shapefile e CSV de regionais
gdf_municipios = gpd.read_file ('../data/shapefile_es/ES_Municipios_2024.shp')
df_municipios_regionais = pd.read_csv ('../data/municipios_por_regional.csv', encoding='utf-8-sig')
df_municipios_regionais.rename (columns={'NM_MUN': 'municipio'}, inplace=True)
df_municipios_regionais ['regional'] = df_municipios_regionais['regional'].apply(lambda x: unidecode(str(x)).upper().strip())


# Normalização
gdf_municipios ['municipio'] = gdf_municipios ['NM_MUN'].str.upper ().str.strip ()
df_municipios_regionais ['municipio'] = df_municipios_regionais ['municipio'].str.upper ().str.strip ()

# Merge
gdf_mapa = gdf_municipios.merge (df_municipios_regionais, on='municipio', how='left')

# Simplificação para melhorar a performance no Streamlit
gdf_mapa ['geometry'] = gdf_mapa ['geometry'].simplify (0.001, preserve_topology=True)


# --- Filtrar a base para a regional escolhida ---
df_regional = df_municipios_regionais[df_municipios_regionais['regional'] == selecao_regional]


# --- Definir centroide e zoom dinâmico com base na área da regional ---

if selecao_regional == 'Todas':
    municipios_regional = gdf_mapa ['municipio'].unique ().tolist ()
    gdf_regional_geom = gdf_mapa [gdf_mapa ['municipio'].isin (municipios_regional)]

else:
    municipios_regional = df_regional ['municipio'].unique ().tolist () # Filtra municípios da regional selecionada
    gdf_regional_geom = gdf_mapa [gdf_mapa ['municipio'].isin (municipios_regional)] #Seleciona os municípios filtrados na base do mapa

regional_union = gdf_regional_geom.unary_union
regional_center = regional_union.centroid
center_lat = regional_center.y
center_lon = regional_center.x

area_km2 =  gdf_mapa ['AREA_KM2'] [gdf_mapa ['municipio'].isin (municipios_regional)].sum()

# Definir zoom dinâmico
if area_km2 < 300:
    zoom_level = 10
elif area_km2 < 700:
    zoom_level = 9
elif area_km2 < 1500:
    zoom_level = 8
elif area_km2 < 3000:
    zoom_level = 7
else:
    zoom_level = 6

# Criar mapa
m = folium.Map (location=[center_lat, center_lon], zoom_start=zoom_level, tiles='cartodbpositron')

# Cores distintas para cada regional
regionais_unicas = gdf_mapa ['regional'].dropna ().unique ()
color_list = list (mcolors.TABLEAU_COLORS.values ()) [:len (regionais_unicas)]
color_dict = dict (zip (regionais_unicas, color_list))

# Adicionar polígonos
for _, row in gdf_mapa.iterrows ():
    if pd.notnull (row ['regional']):
        cor = color_dict.get (row ['regional'], 'gray')
        folium.GeoJson (
            row ['geometry'],
            style_function=lambda x, color=cor: {
                'fillColor': color,
                'color': 'black',
                'weight': 0.5,
                'fillOpacity': 0.6
            },
            tooltip=f"{row ['municipio']} - {row ['regional']}"
        ).add_to (m)

st_folium (m, width=900, height=900)

C:\Users\carlo\AppData\Local\Temp\ipykernel_19640\1644915166.py:40: DeprecationWarning: The 'unary_union' attribute is deprecated, use the 'union_all()' method instead.
  regional_union = gdf_regional_geom.unary_union
2025-07-02 18:42:19.069 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-02 18:42:19.069 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-02 18:42:19.069 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-02 18:42:19.079 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.
2025-07-02 18:42:19.082 Thread 'MainThread': missing ScriptRunContext! This warning can be ignored when running in bare mode.

{'last_clicked': None,
 'last_object_clicked': None,
 'last_object_clicked_tooltip': None,
 'last_object_clicked_popup': None,
 'all_drawings': None,
 'last_active_drawing': None,
 'bounds': {'_southWest': {'lat': -21.301782, 'lng': -41.8796411},
  '_northEast': {'lat': -17.8919446, 'lng': -28.8477591}},
 'zoom': 6,
 'last_circle_radius': None,
 'last_circle_polygon': None,
 'selected_layers': None}

In [147]:
gdf_mapa['regional'].unique()

array(['SRE VILA VELHA', 'SRE NOVA VENECIA', 'SRE CARAPINA',
       'SRE COLATINA', 'SRE GUACUI', 'SRE SAO MATEUS',
       'SRE CACHOEIRO DE ITAPEMIRIM', 'SRE LINHARES',
       'SRE BARRA DE SAO FRANCISCO', 'SRE AFONSO CLAUDIO',
       'SRE CARIACICA'], dtype=object)

In [148]:
print(df_municipios_regionais)

                  municipio   CD_MUN            regional  id_regional
0            AFONSO CLÁUDIO  3200102  SRE AFONSO CLAUDIO         2266
1      CONCEIÇÃO DO CASTELO  3201704  SRE AFONSO CLAUDIO         2266
2          LARANJA DA TERRA  3203163  SRE AFONSO CLAUDIO         2266
3                 BREJETUBA  3201159  SRE AFONSO CLAUDIO         2266
4   VENDA NOVA DO IMIGRANTE  3205069  SRE AFONSO CLAUDIO         2266
..                      ...      ...                 ...          ...
73               VILA VELHA  3205200      SRE VILA VELHA         2269
74                GUARAPARI  3202405      SRE VILA VELHA         2269
75                 ANCHIETA  3200409      SRE VILA VELHA         2269
76                    PIÚMA  3204203      SRE VILA VELHA         2269
77           ALFREDO CHAVES  3200300      SRE VILA VELHA         2269

[78 rows x 4 columns]

In [149]:
print()

In [150]:
print (df_regional)

                  municipio   CD_MUN                     regional  id_regional
12  CACHOEIRO DE ITAPEMIRIM  3201209  SRE CACHOEIRO DE ITAPEMIRIM         2272
13                  CASTELO  3201407  SRE CACHOEIRO DE ITAPEMIRIM         2272
14                   ICONHA  3202603  SRE CACHOEIRO DE ITAPEMIRIM         2272
15              VARGEM ALTA  3205036  SRE CACHOEIRO DE ITAPEMIRIM         2272
16                    MUQUI  3203809  SRE CACHOEIRO DE ITAPEMIRIM         2272
17          ATÍLIO VIVÁCQUA  3200706  SRE CACHOEIRO DE ITAPEMIRIM         2272
18          RIO NOVO DO SUL  3204401  SRE CACHOEIRO DE ITAPEMIRIM         2272
19            MIMOSO DO SUL  3203403  SRE CACHOEIRO DE ITAPEMIRIM         2272
20       PRESIDENTE KENNEDY  3204302  SRE CACHOEIRO DE ITAPEMIRIM         2272
21               ITAPEMIRIM  3202801  SRE CACHOEIRO DE ITAPEMIRIM         2272
22        JERÔNIMO MONTEIRO  3203106  SRE CACHOEIRO DE ITAPEMIRIM         2272
23               MARATAÍZES  3203320  SRE CACHOEIRO DE ITAPEMIRIM         2272

In [151]:
print (area_km2)

5236.642

In [156]:
gdf_mapa.columns

Index(['CD_MUN_x', 'NM_MUN', 'CD_RGI', 'NM_RGI', 'CD_RGINT', 'NM_RGINT',
       'CD_UF', 'NM_UF', 'SIGLA_UF', 'CD_REGIA', 'NM_REGIA', 'SIGLA_RG',
       'CD_CONCU', 'NM_CONCU', 'AREA_KM2', 'geometry', 'municipio', 'CD_MUN_y',
       'regional', 'id_regional'],
      dtype='object')

In [163]:
df_areas = gdf_mapa[['regional', 'AREA_KM2']]

# Agrupar por regional e somar as áreas
df_area = df_areas.groupby('regional', as_index=False).sum()

# (Opcional) Renomear a coluna resultante
df_area.rename(columns={'AREA_KM2': 'area_total_km2'}, inplace=True)
df_area

                       regional  area_total_km2
0            SRE AFONSO CLAUDIO        4274.057
1    SRE BARRA DE SAO FRANCISCO        4479.485
2   SRE CACHOEIRO DE ITAPEMIRIM        5236.642
3                  SRE CARAPINA        1614.640
4                 SRE CARIACICA        1595.817
5                  SRE COLATINA        5531.109
6                    SRE GUACUI        4010.288
7                  SRE LINHARES        6631.496
8              SRE NOVA VENECIA        6179.610
9                SRE SAO MATEUS        4621.840
10               SRE VILA VELHA        1899.464

In [165]:
cor = color_dict.get (row ['regional'], 'gray')


print( color_dict.get)

<built-in method get of dict object at 0x0000021294034200>

In [168]:
gdf_mapa.columns

Index(['CD_MUN_x', 'NM_MUN', 'CD_RGI', 'NM_RGI', 'CD_RGINT', 'NM_RGINT',
       'CD_UF', 'NM_UF', 'SIGLA_UF', 'CD_REGIA', 'NM_REGIA', 'SIGLA_RG',
       'CD_CONCU', 'NM_CONCU', 'AREA_KM2', 'geometry', 'municipio', 'CD_MUN_y',
       'regional', 'id_regional'],
      dtype='object')

In [170]:
df_ama = pd.read_csv('../data/ama_2serie_2024_2025_merged.csv', encoding='utf-8-sig')

In [171]:
df_ama.columns

Index(['CD_REGIONAL', 'NM_REGIONAL', 'CD_MUNICIPIO', 'NM_MUNICIPIO',
       'CD_ESCOLA', 'NM_ESCOLA', 'CD_ETAPA_AVALIADA', 'DC_ETAPA_AVALIADA',
       'NM_DISCIPLINA', 'NU_ACERTO_24', 'NU_TOTAL_24', 'TX_ACERTO_24',
       'ct_alto_24', 'ct_medio_24', 'ct_baixo_24', 'ct_muito_baixo_24',
       'NU_ACERTO_25', 'NU_TOTAL_25', 'TX_ACERTO_25', 'ct_alto_25',
       'ct_medio_25', 'ct_baixo_25', 'ct_muito_baixo_25'],
      dtype='object')